{# 列表单元 #}
{% macro macro_list() %}


    <!-- Navigation-->

    <!--/-->


<div id="list" style="">
    <!--masonry-layout-->
    <section class="mt-80 mb-50 masonry-layout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 list-columns">

                </div>
            </div>
        </div>
    </section>
    <!--/-->
</div>
   

<div id="history">
    <!--masonry-layout-->
    <section class="mt-80 mb-50 masonry-layout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 list-columns">

                </div>
            </div>
        </div>
    </section>
    <!--/-->
</div>

<div id="bookmark">
    <!--masonry-layout-->
    <section class="mt-80 mb-50 masonry-layout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 list-columns">

                </div>
            </div>
        </div>
    </section>
    <!--/-->
</div>
  



{% endmacro %}