{# page单元 #}
{% macro macro_page() %}
<div id="page" style="display: none;">

    <!--post-default-->
    <section class="section pt-10">
        <div class="container">
            <div class="row justify-content-center">
                <div id="page_content" class="mb-20">
                    <!--Post-single-->
                    <div class="post-single">
                        <h3 class="center page-title text-info"></h3>
                        <div class="post-single-image imgs">

                        </div>
                        <h3 class="center page-title text-success"></h3>
                        <h3 class="center text-success">完</h3>
                    </div> <!--/-->
                    <div class="forum-div" id="forum-div">
                        <ul class="list-group"></ul>
                    </div>
                    <div id="bottom-div">

                    </div>
                </div>
            </div>
        </div>
    </section><!--/-->


</div>


{% endmacro %}