{# setting #}
{% macro macro_setting() %}



<div class="setting" id="setting">




    <div class="container mt-3">
        <button type="button" class="close">
            <i class="icon_close"></i>
        </button>
        <div class="row">
             <!-- 站点选中列表组 -->
            <div class="settings col-12">
                <h5 class="mt-4">站点选择</h5>
                <ul class="list-inline mt-2 webs">
                    <!--<li class="list-group-item"><button href="#" class="btn btn-outline-primary">百度</button></li>-->
                </ul>

                <!-- 排序模式列表组 -->
                <h5 class="mt-4">排序模式</h5>
                <ul class="list-inline mt-2 orders">

                </ul>


                <!-- 每行显示列表组 -->
                <h5 class="mt-4">每行显示</h5>
                <ul class="list-inline mt-2 cols">

                </ul>

                <h5 class="mt-4">实际网站</h5>
                <ul class="list-inline mt-2 real-webs">

                </ul>

                <h5 class="mt-4">图片模式</h5>
                <ul class="list-inline mt-2 img-modes">

                </ul>

                <h5 class="mt-4">阅读模式</h5>
                <ul class="list-inline mt-2 page-modes">

                </ul>

                <h5 class="mt-4">阅读尺寸</h5>
                <ul class="list-inline mt-2 page-sizes">

                </ul>

                <h5 class="mt-4">背景颜色</h5>
                <ul class="list-inline mt-2 bg-colors">

                </ul>

                <h5 class="mt-4">缓存代理</h5>
                <ul class="list-inline mt-2 cache-proxies">

                </ul>



                <h5 class="mt-4">运维模式</h5>
                <ul class="list-inline mt-2 test-modes">

                </ul>

                <h5 class="mt-4">功能设置</h5>
                <ul class="list-inline mt-2 other-settings">

                </ul>
            </div>
        </div>

    </div>


{#  <div class="container mt-70">#}
{#  <h1>设置</h1>#}
{#  <form>#}
{#    <div class="form-group">#}
{#      <label for="speed">手柄滚动速度</label>#}
{#      <input type="number" class="form-control" name="speed" placeholder="请输入数字">#}
{#    </div>#}
{#    <div class="form-group">#}
{#      <label for="url">cm18网址</label>#}
{#      <input type="text" class="form-control" name="url" placeholder="请输入网址">#}
{#    </div>#}
{#    <div class="form-group">#}
{#      <label for="host">tk的host</label>#}
{#      <input type="text" class="form-control" name="host" placeholder="请输入host">#}
{#    </div>#}
{#    <div class="form-group">#}
{#      <label>是否测试模式</label>#}
{#      <div class="form-check">#}
{#        <input type="radio" class="form-check-input" id="test" name="mode" value="test">#}
{#        <label class="form-check-label" for="test">测试模式</label>#}
{#      </div>#}
{#      <div class="form-check">#}
{#        <input type="radio" class="form-check-input" id="normal" name=mode value=normal>#}
{#        <label class= "form-check-label " for= "normal ">正常模式</label>#}
{#      </div>#}
{#    </div>#}
{#    <!--<button type="submit" class="btn btn-primary">提交</button>-->#}
{#  </form>#}
{#  </div>#}
</div>
{% endmacro %}