<li>
    <button onclick="javascript:window.open('{url}/album/{aid}');" class="btn btn-success">
        <i class="icon_link"></i>
        <span>跳转CM18</span>
    </button>
</li>


<li>
    <button onclick="javascript:window.open('{link_url}');" class="btn btn-success">
        <i class="icon_link"></i>
        <span>跳转哔哩轻小说</span>
    </button>
</li>


<li>
    <button onclick="javascript:window.open('{url}/subject/{aid}');" class="btn btn-success">
        <i class="icon_link"></i>
        <span>跳转番组计划</span>
    </button>
</li>

                                        <li>
                                            <button onclick="javascript:window.open('https://manhuabika.com/pcomicview/?cid={cid}');" class="btn btn-success">
                                                <i class="icon_link"></i>
                                                <span>跳转Bika</span>
                                            </button>
                                        </li>


                                        <li>
                                            <button onclick="javascript:window.open('{url}/comic/{aid}');" class="btn btn-success">
                                                <i class="icon_link"></i>
                                                <span>跳转漫画柜</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button onclick="javascript:bindBilibiliManga('{aid}');" class="btn btn-success">
                                                <i class="icon_link"></i>
                                                <span>绑定bilibili漫画</span>
                                            </button>
                                        </li>

                                        <li>
                                            <button onclick="javascript:window.open('{url_link}');" class="btn btn-success">
                                                <i class="icon_link"></i>
                                                <span>跳转宅漫画</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button onclick="javascript:bindBilibiliManga('{aid}');" class="btn btn-success">
                                                <i class="icon_link"></i>
                                                <span>绑定bilibili漫画</span>
                                            </button>
                                        </li>
 <li>
                                            <button onclick="javascript:window.open('{url_link}');" class="btn btn-success">
                                                <i class="icon_link"></i>
                                                <span>跳转yy漫画</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button onclick="javascript:bindBilibiliManga('{aid}');" class="btn btn-success">
                                                <i class="icon_link"></i>
                                                <span>绑定bilibili漫画</span>
                                            </button>
                                        </li>

                                        <li>
                                            <button onclick="javascript:window.open('{url}/blog/{aid}');" class="btn btn-success">
                                                <i class="icon_link"></i>
                                                <span>跳转cm18</span>
                                            </button>
                                        </li>




                                    <button onclick="javascript:window.open('{mteam_url}')" class="btn btn-success btn-bookmark">
                                        <i class="icon_search"></i>
                                        <span>mteam查询</span>
                                    </button>
                                    <button onclick="javascript:window.open('{niyaa_url}')" class="btn btn-success btn-bookmark">
                                        <i class="icon_search"></i>
                                        <span>niyaa查询</span>
                                    </button>
                                    <button onclick="javascript:window.open('{tktube_url}')" class="btn btn-success btn-bookmark">
                                        <i class="icon_search"></i>
                                        <span>tktube查询</span>
                                    </button>

                                    <button onclick="javascript:window.open('{url}/{aid}');" class="btn btn-success">
                                        <i class="icon_link"></i>
                                        <span>跳转JavBus</span>
                                    </button>
                                    <button onclick="javascript:window.open('{mteam_url}')" class="btn btn-success btn-bookmark">
                                        <i class="icon_search"></i>
                                        <span>mteam查询</span>
                                    </button>
                                    <button onclick="javascript:window.open('{niyaa_url}')" class="btn btn-success btn-bookmark">
                                        <i class="icon_search"></i>
                                        <span>niyaa查询</span>
                                    </button>

                                    <button onclick="javascript:window.open('{url}/{type_str}/{aid}.htm');" class="btn btn-success">
                                        <i class="icon_link"></i>
                                        <span>跳转Javbooks</span>
                                    </button>
                                    <button onclick="javascript:window.open('{mteam_url}')" class="btn btn-success btn-bookmark">
                                        <i class="icon_search"></i>
                                        <span>mteam查询</span>
                                    </button>
                                    <button onclick="javascript:window.open('{niyaa_url}')" class="btn btn-success btn-bookmark">
                                        <i class="icon_search"></i>
                                        <span>niyaa查询</span>
                                    </button>
                                    <button onclick="javascript:window.open('{tktube_url}')" class="btn btn-success btn-bookmark">
                                        <i class="icon_search"></i>
                                        <span>tktube查询</span>


                                                                                <li>
                                            <button onclick="javascript:window.open('https://tktube.com/videos/{aid}/{token}/');" class="btn btn-success">
                                                <i class="icon_link"></i>
                                                <span>跳转tk</span>
                                            </button>
                                        </li>

                                         <button onclick="javascript:window.open('{mteam_url}')" class="btn btn-success btn-bookmark">
                                        <i class="icon_search"></i>
                                        <span>mteam查询</span>
                                    </button>